<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<title>库存查询</title>
		<link rel="stylesheet" href="../css/mui.min.css">
	</head>
	<body>
		<div class="mui-content">
			<div id="slider" class="mui-slider mui-fullscreen">
				<div id="sliderSegmentedControl" class="mui-scroll-wrapper mui-slider-indicator mui-segmented-control mui-segmented-control-inverted">
					<div class="mui-scroll">
						<a href="#item1mobile" class="mui-control-item mui-active">女鞋</a>
						<a href="#item2mobile" class="mui-control-item mui-active">男鞋</a>
						<a href="#item3mobile" class="mui-control-item mui-active">电脑</a>
						<a href="#item4mobile" class="mui-control-item mui-active">平板</a>
						<a href="#item5mobile" class="mui-control-item mui-active">手机</a>
						<a href="#item6mobile" class="mui-control-item mui-active">周边</a>
					</div>
				</div>
				<div class="mui-slider-group">
					<div id="item1mobile" class="mui-slider-item mui-control-content mui-active">
						<div id="scroll1" class="mui-scroll-wrapper">
							<div class="mui-scroll">
								<ul class="mui-table-view">
									<li class="mui-table-view-cell">jjjjjjjjj</li>
									<li class="mui-table-view-cell">jjjjjjjjj</li>
									<li class="mui-table-view-cell">jjjjjjjjj</li>
									<li class="mui-table-view-cell">jjjjjjjjj</li>
									<li class="mui-table-view-cell">jjjjjjjjj</li>
									<li class="mui-table-view-cell">jjjjjjjjj</li>
									<li class="mui-table-view-cell">jjjjjjjjj</li>
									<li class="mui-table-view-cell">jjjjjjjjj</li>
									<li class="mui-table-view-cell">jjjjjjjjj</li>
									<li class="mui-table-view-cell">jjjjjjjjj</li>
								</ul>
							</div>
						</div>
					</div>
					<div id="item2mobile" class="mui-slider-item mui-control-content">
						<div class="mui-scroll-wrapper">
							<div class="mui-scroll">
								<ul class="mui-table-view">
									<li class="mui-table-view-cell">kkkkkkkkkk</li>
									<li class="mui-table-view-cell">kkkkkkkkkk</li>
									<li class="mui-table-view-cell">kkkkkkkkkk</li>
									<li class="mui-table-view-cell">kkkkkkkkkk</li>
									<li class="mui-table-view-cell">kkkkkkkkkk</li>
									<li class="mui-table-view-cell">kkkkkkkkkk</li>
									<li class="mui-table-view-cell">kkkkkkkkkk</li>
									<li class="mui-table-view-cell">kkkkkkkkkk</li>
									<li class="mui-table-view-cell">kkkkkkkkkk</li>
									<li class="mui-table-view-cell">kkkkkkkkkk</li>
									<li class="mui-table-view-cell">kkkkkkkkkk</li>
								</ul>
							</div>
						</div>
					</div>
					<div id="item3mobile" class="mui-slider-item mui-control-content">
						<div class="mui-scroll-wrapper">
							<div class="mui-scroll">
								<ul class="mui-table-view">
									<li class="mui-table-view-cell">iiiiiiiiii</li>
									<li class="mui-table-view-cell">iiiiiiiiii</li>
									<li class="mui-table-view-cell">iiiiiiiiii</li>
									<li class="mui-table-view-cell">iiiiiiiiii</li>
									<li class="mui-table-view-cell">iiiiiiiiii</li>
									<li class="mui-table-view-cell">iiiiiiiiii</li>
									<li class="mui-table-view-cell">iiiiiiiiii</li>
									<li class="mui-table-view-cell">iiiiiiiiii</li>
									<li class="mui-table-view-cell">iiiiiiiiii</li>
									<li class="mui-table-view-cell">iiiiiiiiii</li>
									<li class="mui-table-view-cell">iiiiiiiiii</li>
								</ul>
							</div>
						</div>
					</div>
					<div id="item4mobile" class="mui-slider-item mui-control-content">
						<div class="mui-scroll-wrapper">
							<div class="mui-scroll">
								<ul class="mui-table-view">
									<li class="mui-table-view-cell">pppppppppp</li>
									<li class="mui-table-view-cell">pppppppppp</li>
									<li class="mui-table-view-cell">pppppppppp</li>
									<li class="mui-table-view-cell">pppppppppp</li>
									<li class="mui-table-view-cell">pppppppppp</li>
									<li class="mui-table-view-cell">pppppppppp</li>
									<li class="mui-table-view-cell">pppppppppp</li>
									<li class="mui-table-view-cell">pppppppppp</li>
									<li class="mui-table-view-cell">pppppppppp</li>
									<li class="mui-table-view-cell">pppppppppp</li>
									<li class="mui-table-view-cell">pppppppppp</li>
									<li class="mui-table-view-cell">pppppppppp</li>
								</ul>
							</div>
						</div>
					</div>
					<div id="item5mobile" class="mui-slider-item mui-control-content">
						<div class="mui-scroll-wrapper">
							<div class="mui-scroll">
								<ul class="mui-table-view">
									<li class="mui-table-view-cell">llllllllll</li>
									<li class="mui-table-view-cell">llllllllll</li>
									<li class="mui-table-view-cell">llllllllll</li>
									<li class="mui-table-view-cell">llllllllll</li>
									<li class="mui-table-view-cell">llllllllll</li>
									<li class="mui-table-view-cell">llllllllll</li>
									<li class="mui-table-view-cell">llllllllll</li>
									<li class="mui-table-view-cell">llllllllll</li>
									<li class="mui-table-view-cell">llllllllll</li>
									<li class="mui-table-view-cell">llllllllll</li>
								</ul>
							</div>
						</div>
					</div>
					<div id="item6mobile" class="mui-slider-item mui-control-content">
						<div class="mui-scroll-wrapper">
							<div class="mui-scroll">
								<ul class="mui-table-view">
									<li class="mui-table-view-cell">oooooooooo</li>
									<li class="mui-table-view-cell">oooooooooo</li>
									<li class="mui-table-view-cell">oooooooooo</li>
									<li class="mui-table-view-cell">oooooooooo</li>
									<li class="mui-table-view-cell">oooooooooo</li>
									<li class="mui-table-view-cell">oooooooooo</li>
									<li class="mui-table-view-cell">oooooooooo</li>
									<li class="mui-table-view-cell">oooooooooo</li>
									<li class="mui-table-view-cell">oooooooooo</li>
									<li class="mui-table-view-cell">oooooooooo</li>
									<li class="mui-table-view-cell">oooooooooo</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<script src="../js/mui.min.js"></script>
		<script src="../js/mui.pullToRefresh.js"></script>
		<script src="../js/mui.pullToRefresh.material.js"></script>
		<script>
			mui.init();
			(function($) {
				var deceleration = mui.os.ios ? 0.003 : 0.0009;
				$('.mui-scroll-wrapper').scroll({
					bounce: false,
					indicators: true,
					deceleration: deceleration
				})
			})(mui)
		</script>
	</body>
</html>
